*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Arial";
	background-color: #e5e6e5;
}
a{
	text-decoration: none;
	color: #656f7a;
}
h1{
	font-weight: bold;
	color: #a5adb8;
}
h2{
	font-size: 24px;
	font-weight: bold; 
	color: #a5adb8;
	margin-top: 25px;
}
h3{
	font-size: 12px;
	color: #656f7a;
}
h4{
	font-size: 18px;
	color: #a5adb8;
	font-weight: bold;
}
h5{
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
}
.zb{
	color: #ae4b5d;
}
header{
	width: 100%;
	height: 70px;
	background-color: #282d33;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.top{
	width: 80%;
	margin: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search-form{
	width:22%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-form input:first-child{
	background-color: #24272d;
	border: 2px solid #875f66;
	border-radius: 5px 5px;
	height: 32px;
	width: 195px;
}
.search-form input:last-child{
	width: 32px;
	height: 32px;
	background-image: url(../images/search.png);
	background-position: center;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
}
.search-form input:hover{
	border:2px solid red;
}
.cherry{
	width: 80%;
	height: 240px;
	margin: 0 10%;
	background-image: url(../images/layer_cherry.png);
	background-size: cover;
	display: flex;
	align-items: center;
}
.tb{
	margin-left: 3%;
	font-size: 14px;
	line-height: 18px;
	color: #d9dcdf;
}
.tb p{
	margin-top: 10px;
}
.p3{
	font-size: 18px;
	color: #282d33;
	font-weight: bold;
}
nav{
	width: 80%;
	margin: 0 10%;
	background-color: #95161f;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
nav ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style:none;
	width: 80%;
	height: 36px;
}
nav ul li{
	display: inline-block;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	line-height: 36px;
}
nav ul li:hover{
	background-color: red;
	transition: 0.5s;
}
nav li a{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}
.breadcrumbs{
	width: 80%;
	margin: 0 10%;
	height: 30px;
	background-color: #f3f3f3;
	color: #6b6f74;
	font-size: 11px;
	display: flex;
	align-items: center;
}
.breadcrumbs a{
	color: #95161f;
	text-decoration: underline;
	margin-left:0.3%;
}
.breadcrumbs a:first-child{
	margin-left: 2%;
}
.breadcrumbs a:last-child{
	color: #6b6f74;
	text-decoration: none;
}
main{
	width: 80%;
	margin:0 10%;
	background-color: white;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.right-sidebar{
	width: 75%;
	display: flex;
	align-self: flex-end;
	flex-direction: column;
	color: #5c646e;
}
.right-sidebar p{
	margin-top: 10px;
	line-height: 20px;
	font-size: 14px;
	margin-right: 5%;
}
.right-sidebar p a{
	text-decoration: underline;
	color: #95161f;
}
.photo{
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-self: flex-start;
	margin-top: 15px;
}
.ph{
	display: flex;
	flex-direction: column;
}
.ph img{
	margin-top: 10px;
	border: 1px solid white;
	box-shadow: 1px 5px 5px #b5b5b5;
}
.ph img:hover{
	box-shadow: 1px 5px 5px red;
	transform: scale(1.1);
	transition: 0.3s;
	cursor: pointer;
}
.text{
	width: 95%;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #5c646e;
	line-height: 23px;
	align-self: flex-start;
}
.text p{
	color: #5c646e;
	line-height: 24px;
	font-weight: bold;
	margin-top: 10px;
}
.text .list1, .list2, ol {
	width: 30%;
}
.list1 li{
	margin-left: 10%;
}
ol li{
	margin-left: 6%;
}
.list1 li.shift{
	margin-left: 20%;
}
.T{
	margin-left: 25px;
	color: #5c646e;
}
table{
	width: 98%;
	text-align: center;
	font-size: 12px;;
	margin: 23px 2% 50px 0;
}
table a{
	text-decoration: underline;
	color: #d08b98;
}
th:last-child{
	border-top-right-radius: 5px 5px;
}
th:first-child{
	border-top-left-radius: 5px 5px;
}
tr:last-child td:last-child{
	border-bottom-right-radius: 5px 5px;
}
tr:last-child td:first-child{
	border-bottom-left-radius: 5px 5px;
}
th{
	padding: 10px 8px;
	color: white;
	background-color: #9c4757;
}
td{
	padding: 10px 8px;
	background-color: #282d33;
	color: #a5adb8;
}
.left-sidebar{
	width: 25%;
	display: flex;
	flex-direction: column;
}
.left-sidebar p{
	font-size: 12px;
	line-height: 20px;
}
.left-sidebar a{
	text-decoration: underline;
	font-size: 12px;
	line-height: 20px;
	color: #95161f;
}
.left-sidebar h4{
	line-height: 20px;
	color: #282d33;
	margin-bottom: 15px;
}
.contact-form{
	border: 1px solid #e3e4e5;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background-color: #f3f3f3;
	width: 215px;
	margin: 20px;
}
.contact-form p{
	font-size: 18px;
	margin: 15px 0 0 15px;
	text-align: left;
}
.contact-form input, .il{
	background-color: #e3e4e5;
	border-style: none;
	height: 30px;
	width: 185px;
	border-radius: 5px 5px;
	box-shadow:  1px 1px 2px #b5b5b5 inset;
	border: 1px solid white;
	margin-bottom: 20px;
}
select{
	cursor: pointer;
}
#submit-button{
	height: 45px;
	width: 190px;
	background-color: #aa212b;
	color: white;
	border: 5px solid white;
	cursor: pointer;
	box-shadow: 1px 5px 5px #b5b5b5;
	transition: 0.6s;
}
#submit-button:hover{
	background-color: white;
	color: #aa212b;
	border: 5px solid #aa212b;
}
.tb3{
	width: 80%;
	align-self: center;
}
footer{
	width: 100%;
	background-color: #282d33;
	display: flex;
	justify-content: center;
	border-top: 7px solid #ae4b5d;
}
hr{
	margin-top: 5px;
	margin-bottom: 15px;
	border-color: #40474f;
}
.footer-block{
	margin-top: 20px;
	width: 80%;
	display: flex;
	justify-content: space-around;
}
.block1, .block2, .block3{
	color: #85898f;
	font-size: 12px;
	margin-bottom: 15px;
	width: 25%;
}
.block1 h4, .block2 h4, .block3 h4{
	font-weight: normal;
}
.block1 ul{
	list-style-image: url(../images/clock.png);
	line-height: 20px;
	margin-left: 25px;
	margin-top: 15px;
}
.block2 {
	font-size: 14px;
	color: #a5adb8;
}
.block2 ul{
	margin-top: 15px;
	margin-left: 15px;
	color: #ae4b5d;
	line-height: 20px;
}
.block2 ul p{
	font-weight: bold;
	color: white;
	margin: 10px 0 0 0;
}
.block2 ul span{
	color: #85898f;
}
.block3 ul{
	margin-top: 15px;
	list-style: none;
}
.block3 ul li{
	line-height: 20px;
}
.block3 a, table a{
	font-size: 12px;
	color: #d08b98;
}
@media(max-width: 1200px){
	main{
		margin: 0 auto;
		display: flex;
		align-self: center;
		flex-direction: column;
	}
	.tb p{
		width: 100%;
		text-align: left;
	}
	nav{
		justify-content: space-around;
	}
	.search-form{
		width: 50%;
		justify-content: flex-end;
	}
	.left-sidebar, .right-sidebar{
		margin: 0 auto;
		width: 95%;
		display: flex;
		justify-content: center;
	}
	h2,p, .photo{
		text-align: center;
	}
	.photo{
		width: 100%;
		align-self: center;
		justify-content: space-around;
	}
	.left-sidebar{
		align-self: center;
		width: 70%;
		flex-direction: row;
	}
	.left-sidebar p{
		text-align: left;
	}
	.contact-form{
		width: 50%;
	}
	#submit-button{
		margin-bottom: 5px;
	}
}
@media(max-width: 860px){
	.text{
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
	}
	.text .list1, .list2, ol{
		align-self: center;
	}
	.footer-block{
		flex-direction: column;
		justify-content: center;
	}
	.block1, .block2, .block3{
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 40%;
	}
	.block1 h4, .block2 h4, .block3 h4{
		text-align: center;
		margin-top: 20px;
	}
}
@media(max-width: 750px){
	*{
		margin: 0 auto;
	}
	.cherry, nav, .breadcrumbs,main, .top{
		width: 100%;
		margin: 0 auto;
	}
	.search-form{
		width: 40%;
	}
	nav ul{
		width: 100%;
		flex-direction: column;
		height: auto;
	}
	nav ul li{
		width: 100%;
		text-align: center;
	}
	.breadcrumbs{
		display: flex;
		justify-content: flex-start;
	}
	.breadcrumbs a{
		margin: 0 0;
	}
	.text .list1, .list2, ol{
		width: 80%;
		text-align: left;
		margin: 10px auto;
	}
	.photo{
		flex-direction: column;
		width: 50%;
	}
	.footer-block, .block1, .block2, .block3{
		width: 100%;
	}
}
@media( max-width: 550px){
	.top{
		flex-direction: column;
		height: auto;
		text-align: center;
	}
	header{
		height: auto;
	}
	.search-form{
		width: 70%;
		margin: 10px auto;
	}
	.left-sidebar{
		width: 100%;
		text-align: center;
		flex-direction: column;
	}
	.contact-form{
		width: 80%;
	}
}
@media(max-width: 365){
	*{
		margin-left: 0px;
		margin-right: 0px;
	}
	.contact-form{ 
		float: left;
		width: 300px;
		align-self: flex-start;
		margin: 0px 0px;
	}
	.contact-form input, .il{
		background-color: #e3e4e5;
		border-style: none;
		height: 30px;
		width: 250px;
		border-radius: 5px 5px;
		box-shadow:  1px 1px 2px #b5b5b5 inset;
		border: 1px solid white;
		margin-bottom: 20px;
	}
}
